<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>登录 - KDS 機能</title>
    <link href="{{ url_for('static', filename='tailwind.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <h1 class="mb-5 text-center">登录 KDS 機能</h1>
            <form id="login-form">
                <input type="text" id="username" class="login-input" placeholder="名前" required>
                <input type="password" id="password" class="login-input" placeholder="鍵" required>
                <button type="submit" class="login-btn">登录</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='sweetalert2@11.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <script>
        const loginForm = document.getElementById('login-form');

        loginForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // --------------------------
            // 发送 AJAX 请求到后端
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: username, password: password })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.code === 200) {
                        // 这里可以添加你的验证逻辑，比如直接跳转到主页
                        Swal.fire({
                            title: '登录成功！',
                            text: '欢迎回来，厨师长 👨‍🍳',
                            icon: 'success',
                            background: '#1e293b',
                            color: '#f1f5f9',
                            confirmButtonColor: '#3b82f6',
                            timer: 2000, // 弹窗显示 2 秒
                            showConfirmButton: false, // 不显示确认按钮
                            didClose: () => {
                                window.location.href = '/'; // 跳转到后台主页
                            }
                        });
                    } else {
                        error_alert(data.msg);
                    }
                })
                .catch(err => console.error('请求失败', err));
            // --------------------------

        });
    </script>
</body>

</html>